@import '../../variables';
@import '../../mixin';

.githubContributionsGraph {
  text-align: center;
  .graphContainer,
  .graphInfo {
    display: block;
  }
  .graphInfo {
    box-sizing: border-box;
    margin-top: 16px;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    .dateInfo,
    .commits {
      margin: 12px 0;
      box-sizing: border-box;
      span {
        display: inline-block;
      }
    }
    .dateInfo .date,
    .commits .num {
      border: 2px solid $primary;
      padding: 8px;
      color: $primary;
      &.disabled {
        border-color: $borderGrey;
        color: $borderGrey;
      }
    }
  }
  .graphContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    .graph {
      position: relative;
      overflow: auto;
      padding-right: 64px;
      padding-left: 24px;
    }
    &:after {
      content: "";
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1));
      z-index: 5;
      width: 64px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .header {
    position: absolute;
    left: 0;
    background: white;
    z-index: 1;
    .day {
      color: $textGrey;
      cursor: default;
    }
  }
  .week {
    display: inline-block;
  }
  .day {
    display: block;
    height: 16px;
    width: 16px;
    padding: 4px;
    text-align: center;
    cursor: pointer;
    &:hover {
      .dot {
        background: $primary;
        border: 1px solid $primary;
        &.hollow {
          border: 1px solid $primary;
        }
      }
    }
    .dot {
      box-sizing: border-box;
      @include transition(background 0.25s);
      border-radius: 100%;
      margin: 0 auto;
      display: inline-block;
      background: black;
      vertical-align: middle;
      &.hollow {
        border: 1px solid $borderGrey;
        background: transparent;
      }
    }
  }
}