@import '../variables.scss';
.art {
  white-space: nowrap;
  .artSection {
    display: inline-block;
    vertical-align: middle;
    padding: 32px 0;
    margin-right: 48px;
    .info {
      margin-top: 32px;
      text-align: center;
      text-transform: uppercase;
      .index, .title {
        display: inline-block;
      }
      .index {
        border: 2px solid $primary;
        padding: 8px;
        margin-right: 8px;
        font-weight: 500;
      }
    }
  }
}