@import '../variables.scss';

.artSection {
  padding: 32px 0;
  .info {
    margin-top: 32px;
    text-align: center;
    text-transform: uppercase;
    .index, .title {
      display: inline-block;
      font-size: 12px;
    }
    .index {
      border: 2px solid $primary;
      padding: 8px;
      margin-right: 8px;
      font-weight: 500;
    }
  }
}