@import '../variables.scss';
.art {
  white-space: nowrap;
  .artSection {
    display: inline-block;
    padding: 32px 0;
    margin: 0 64px;
    img {
      height: 320px;
      width: auto;
    }
    .info {
      margin-top: 32px;
      text-align: center;
      text-transform: uppercase;
      .index, .title {
        display: inline-block;
        font-size: 12px;
      }
      .index {
        border: 2px solid $primary;
        padding: 8px;
        margin-right: 8px;
        font-weight: 500;
      }
    }
  }
}