@import '../variables.scss';

#navBar {
  padding: 16px;
  text-align: center;
  background-color: white;
  .logo {
    background: url('/images/logo.png') no-repeat center center;
    background-size: contain;
    height: 128px;
    width: 128px;
    display: inline-block;
    margin-top: 32px;
    vertical-align: bottom;
  }
  .links {
    position: absolute;
    bottom: 32px;
    left: 32px;
    text-align: left;
  }
  a {
    color: $primary;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    margin: 8px 0;
    &:hover {
      color: $primaryDark;
    }
  }
}