@import '../variables.scss';
@import '../mixin.scss';

#navBar {
  box-sizing: border-box;
  z-index: 10;
  padding: 8px;
  text-align: right;
  clear: both;
  overflow: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  .logo {
    background: url('/images/logo.png') no-repeat center center;
    background-size: contain;
    height: 48px;
    width: 48px;
    display: inline-block;
    vertical-align: bottom;
  }
  .linksFull {
    vertical-align: bottom;
    display: inline-block;
    border-bottom: 2px solid $primary;
  }
  a {
    display: inline-block;
    margin: 0 8px;
    padding: 8px 0;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  #navBar {
    text-align: center;
  }
}