@import '../variables.scss';

#pageLayout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $bgGrey;
  overflow: auto;
  #content,
  #navBar {
    display: inline-block;
    box-sizing: border-box;
  }
  #navBar {
    width: 240px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }
  #content {
    margin-left: 240px;
    width: calc(100% - 240px);
    padding: 16px;
  }
}