@import '../variables.scss';

.resume {
  display: flex;
  flex-wrap: wrap;
  .resumeSection {
    flex-grow: 1;
    margin: 16px;
    .index {
      display: inline-block;
      padding: 8px;
      border: 2px solid $primary;
      font-size: 12px;
      margin: 0 8px 16px 0;
      font-weight: 500;
      vertical-align: middle;
    }
    > .title {
      font-size: 12px;
      text-transform: uppercase;
      vertical-align: middle;
      display: inline-block;
      text-align: center;
      margin-bottom: 16px;
      font-weight: 500;
    }
    &.experience {
      flex-grow: 2;
    }
    ul {
      margin-left: 24px;
    }
  }
  .roleSection {
    padding: 8px 0;
    &:not(:last-of-type) {
      border-bottom: 2px solid $borderGrey;
    }
    .title,
    .dates {
      font-weight: 500;
    }
  }
}