@import '../variables.scss';

.resume {
  min-width: 520px;
  max-width: 720px;
  .resumeSection {
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    padding-bottom: 16px;
    margin-bottom: 16px;
    padding-right: 32px;
    .index {
      font-size: 24px;
      display: block;
      margin-right: 8px;
      font-weight: 500;
      vertical-align: middle;
      margin-bottom: 8px;
    }
    > .title {
      border-top: 5px solid black;
      border-bottom: 2px solid black;
      padding: 16px 0;
      vertical-align: middle;
      display: block;
      text-align: center;
      font-weight: 500;
    }
    &.education,
    &.stack,
    &.software,
    &.contact {
      width: 33%;
    }
    &.experience {
      width: 65%;
    }
    span {
      display: inline-block;
      &:after {
        content : "/";
        margin: 0 4px;
        color: $textGrey;
      }
    }
    a, p, ul, li {
      line-height: 150%;
    }
    ul {
      margin-left: 24px;
    }
    .content {
      margin-top: 16px;
    }
    a {
      display: block;
    }
  }
  .roleSection {
    padding: 16px 0;
    .title {
      font-weight: 500;
      margin-bottom: 4px;
    }
    .dates  {
      margin-bottom: 8px;
    }
  }
}