@import '../../mixin.scss';

.letterWorld {
  input,
  .imageCarousel {
    vertical-align: middle;
    display: inline-block;
  }
  input {
    margin: 16px;
  }
  .imageCarousel .image {
    width: 320px;
  }
}