@import '../../mixin.scss';

.letterWorld {
  input,
  .image {
    vertical-align: middle;
    display: inline-block;
  }
  input {
    margin: 16px 0;
  }
  .image {
    cursor: pointer;
    margin-right: 16px;
    @include transition(background 0.5s);
    height: 360px;
    width: 360px;
    background-size: contain;
  }
}