@import 'fonts.scss';
@import 'variables.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  color: black;
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
    color: black;
  }
}

input, textarea {
  padding: 8px;
  border-bottom: 2px solid $borderGrey;
  &::placeholder {
    color: $textGrey;
  }
  &:focus {
    outline: none;
    color: $primary;
    border: 2px solid $primary;
  }
}